<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div> &copy;wanderlust pvt limited</div>
        <div class="f-info-links">
            <a href="/privacy">PRIVACY</a>
            <a href="/terms">TERMS</a>
        </div>
    </div>
</footer>